# no pyCache files & Mac-generated .DS_Store
*.pyc 
*.DS_Store
# no cache from financial calculators
TradingBot/Stock_Caches/*
!TradingBot/Stock_Caches/.gitkeep
TradingBot/Stock_Hist_Caches/*
!TradingBot/Stock_Hist_Caches/.gitkeep
*.db
*.db-shm
*.db-wal
*.val
# no graph outputs, keep empty outputs folder
output/*
!output/.gitkeep
# no log files, keep empty logs folder
logs/past/*
logs/realtime/*
!logs/past/.gitkeep
!logs/realtime/.gitkeep